*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background-color: hsl(30, 54%, 90%);
 font-family: "Segoe UI", sans-serif;
 line-height: 1.6;
}
.container{
background-color: white;
max-width: 700px;
margin: 4rem auto;
padding: 2rem;
border-radius: 16px;
}
.container img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}
h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: hsl(14, 45%, 36%);
}

h3 {
  color: hsl(332, 51%, 32%);
  margin-top: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
  color: #555;
}
ul,
ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}
.prepTime {
  background-color: hsl(330, 100%, 98%);
  padding: 1rem;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.75rem 0;
  border-bottom: 1px solid #ddd;
}

td:last-child {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}